@{
    ViewData["Title"] = "Printing System Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Printing System</h1>
    <p>Please select an option below:</p>

    <div class="mt-4">
        <a asp-action="AuthenticateByUsername" class="btn btn-primary">Log in with Username</a>
        <a asp-action="creditUsernameWithQuotaCHF" class="btn btn-success">Add Credit to Account</a>
    </div>
</div>